.titleProgram{
    font-size: 47px;
    text-align: center;
    margin-bottom: 30px;
}
.wrapperProgramList{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.goldStyle{
    border: 1px solid #E1A230;
    transition: 0.3s;
}
.goldStyle h3{
    color: #E1A230;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    font-family: "Moula";
padding: 13px 10px;
display: flex;
justify-content: space-between;
align-items: center;
}
.goldArrow{
    fill: #E1A230;
    transition: 0.3s;
}
.whiteStyle{
    border: 1px solid #E1A230;
    transition: 0.3s;
}
.whiteStyle h3{
    color: #FCE097;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    font-family: "Moula";
    padding: 13px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.whiteArrow{
    fill: #FCE097;
    transition: 0.3s;
}
.content {
  background-color: #FEECDA;
  padding: 10px;
  transition: 0.5s;
    opacity: 0;
    display: none;
}

.content.show {
  max-height: 230px;
  opacity: 1;
  display: block;
}
.contentText{
    font-size: 14px;
    color: #131313;
}
.contentText span{
    font-weight: 600;
}



.goldStyle.active {
    background-color: #E1A230; /* Можно задать любой цвет фона */
    color: #fff; /* Цвет текста */
    border: 1px solid #B3890F; /* Сменить цвет границы */
}

.goldStyle.active h3 {
    color: #131313; /* Изменить цвет заголовка */
    font-weight: 600;
}
.goldStyle.active .goldArrow{
    transform: rotate(-180deg);
    fill: #131313;
}

.whiteStyle.active {
    background-color: #FCE097; /* Можно задать любой цвет фона */
    color: #fff; /* Цвет текста */
    border: 1px solid #B3890F; /* Сменить цвет границы */
}

.whiteStyle.active h3 {
    color: #131313; /* Изменить цвет заголовка */
    font-weight: 600;
}
.whiteStyle.active .whiteArrow{
    transform: rotate(-180deg);
    fill: #131313;
}