.keySections{
    background: url(./key.webp) no-repeat center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.keySText{
    font-size: 24px;
    font-family: "Moula";
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    width: 100%;
    height: 100%;
}